@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.Domains.Models.Wordpress
@using MichaelKjellander.Scripts.Startup.Generated
@using MichaelKjellander.Views.Components.Icons
@using MichaelKjellander.Views.Components.Modals
@using MichaelKjellander.Views.Routes
@using MichaelKjellander.Views.Services.Api
@inject TranslationsService Ts

@if (Post != null)
{
    <article class="border border-gray-200" @ref=_containerRef>
        <ImageGalleryModal Container="_containerRef" IncludeScript=@(Index == 0)/>
        @if (@Post.FeaturedImage != null)
        {
            <div class="bg-white items-center justify-center flex">
                <img class="cursor-zoom-in" src="@Post.FeaturedImage.ThumbnailUrl"/>
            </div>
        }
        <div class="bg-white sg-post sg-post-padding">
            @if (@Post.Category!.Type == CategoryType.Game)
            {
                <span class="italic">@Post.Category!.Name</span>
                <div class="h-2"></div>
            }
            @if (IsSingle)
            {
                <h1 class="sg-post-title">@((MarkupString)@Post.Title!)</h1>
            }
            else
            {
                <a href="@PageRoutes.Post(Post.Slug!)">
                    <h3 class="sg-post-title">@((MarkupString)@Post.Title!)</h3>
                </a>
            }
            @if (@Post.Category!.Type == CategoryType.GameReview)
            {
                <div class="h-2"></div>
                <p class="italic">@Ts.Get(TKey.Review_Review)</p>
                <p class="text-sm">
                    @Ts.Format(TKey.Review_TestedOn, string.Join(", ", Post.PostTags.Select(pt => pt.Tag.Name)))
                </p>
            }
            <div class="sg-post-content">
                @((MarkupString)Post.Content!)
            </div>
            @if (Post.Category!.Type == CategoryType.GameReview)
            {
                <div class="border border-black border-dashed px-8 py-6">
                    <div class="font-bold">@Ts.Get(Post.RatingTranslationKey)</div>
                    @if (Post.MetaPlayAlso != null)
                    {
                        <div class="h-2"></div>
                        <div class="border-b"></div>
                        <div class="h-2"></div>
                    }
                    @if (Post.MetaPlayAlso != null)
                    {
                        <div class="text-sm">@Ts.Format(TKey.Review_PlayAlso, Post.MetaPlayAlso)</div>
                    }
                </div>
            }
        </div>
        <div class="sg-post-footer sg-footer-padding">
            <div class="sg-break-together">
                <IconCalendarMonth/>
                <span class="mr-4">@Ts.FormatDate(Post.Date)</span>
            </div>
            <div class="sg-break-together">
                <IconFolder/>
                <span class="mr-4">@Post.Category.Name</span>
            </div>
            @if (Post.MetaPlatforms!.Count > 0)
            {
                <div class="sg-break-together">
                    <IconDeviceGamepad2/>
                    @FormatPlattform(0)
                </div>
                @for (int i = 1; i < Post.MetaPlatforms!.Count; i++)
                {
                    <div class="sg-break-together">
                        @FormatPlattform(i)
                    </div>
                }
            }
        </div>
    </article>
}


@code {
    [Parameter] [Required] public WpPost? Post { get; set; }
    [Parameter] [Required] public bool IsSingle { get; set; }
    [Parameter] [Required] public int Index { get; set; }

    private ElementReference _containerRef;

    private string FormatPlattform(int index)
    {
        string formattedTagName = Post!.MetaPlatforms![index];
        bool isLast = Post!.MetaPlatforms!.Count == index + 1;
        if (!isLast)
        {
            formattedTagName += ", ";
        }

        return formattedTagName;
    }

}