@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.SharedUtils
@using MichaelKjellander.Components.Icons
@using MichaelKjellander.SharedUtils.Routes

@if (Post != null)
{
    <article class="border border-gray-200">
        @if (@Post.FeaturedMediaUrl != null)
        {
            <img src="@Post.FeaturedMediaUrl"/>
        }
        <div class="bg-white sg-post sg-post-padding">
            @if (@Post.Category!.Type == CategoryType.Game)
            {
                <span class="italic">@Post.Category!.Name</span>
                <div class="h-2"></div>
            }
            @if (IsSingle)
            {
                <h1 class="sg-post-title">@((MarkupString)@Post.Title!)</h1>
            }
            else
            {
                <a href="@PageRoutes.Post(Post.Slug!)">
                    <h3 class="sg-post-title">@((MarkupString)@Post.Title!)</h3>
                </a>
            }
            @if (@Post.Category!.Type == CategoryType.GameReview)
            {
                <div class="h-2"></div>
                <p class="italic">Recension</p>
                <p class="text-sm">Testat på: @String.Join(", ", Post.MetaPlatforms!)</p>
            }
            <div class="sg-post-content">
                @((MarkupString)Post.Content!)
            </div>
            @if (Post.Category!.Type == CategoryType.GameReview)
            {
                <div class="border border-black border-dashed px-8 py-6">
                    <div class="font-bold">@Post.RatingText</div>
                    @if (Post.MetaPlayAlso != null)
                    {
                        <div class="h-2"></div>
                        <div class="border-b"></div>
                        <div class="h-2"></div>
                    }
                    @if (Post.MetaPlayAlso != null)
                    {
                        <div class="text-sm">Spela även @Post.MetaPlayAlso</div>
                    }
                </div>
            }
        </div>
        <div class="sg-post-footer sg-footer-padding">
            <div class="sg-break-together">
                <IconCalendarMonth/>
                <span class="mr-4">@DateUtil.FormatDate(Post.Date)</span>
            </div>
            <div class="sg-break-together">
                <IconFolder/>
                <span class="mr-4">@Post.Category.Name</span>
            </div>
            TODO: replace with meta platform
            @* @if (Post.TagIds!.Count > 0) *@
            @* { *@
            @*     <div class="sg-break-together"> *@
            @*         <IconTag/> *@
            @*         @FormatTagName(0) *@
            @*     </div> *@
            @*     @for (int i = 1; i < Post.Tags!.Count; i++) *@
            @*     { *@
            @*         <div class="sg-break-together"> *@
            @*             @FormatTagName(i) *@
            @*         </div> *@
            @*     } *@
            @* } *@
        </div>
    </article>
}


@code {
    [Parameter][Required] public WpPost? Post { get; set; }
    [Parameter][Required] public bool IsSingle { get; set; }
    //private string? _html;
    
    //TODO: generalize
    // protected override void OnParametersSet()
    // {
    //     if (Post != null)
    //     {
    //         _html = Post.Content!;
    //         if (!_html.Contains("<p>"))
    //         {
    //             _html = _html.Replace("\n", "<br>");
    //         }
    //         //_html = Post.Content!.Replace("\n", "<br>");
    //     }
    // }

    // private string FormatTagName(int index)
    // {
    //     string formattedTagName = Post!.Tags![index].Name!;
    //     bool isLast = Post!.Tags!.Count == index + 1;
    //     if (!isLast)
    //     {
    //         formattedTagName += ", ";
    //     }
    //     return formattedTagName;
    // }
}