@using System.ComponentModel.DataAnnotations
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.SharedUtils
@using MichaelKjellander.Components.Icons
@using MichaelKjellander.SharedUtils.Routes
@using MichaelKjellander.Components.Modals
@using MichaelKjellander.SharedUtils.Components

@if (Post != null)
{
    
    <article class="border border-gray-200">
        @if (@Post.FeaturedMediaUrl != null)
        {
            <Modal ShowCallbacker="_showModalCallbacker" ElementId="@("post-modal-"+Post.Id)"/>
            <img src="@Post.FeaturedMediaUrl" @onclick="OnImageClick"/>
        }
        <div class="bg-white sg-post sg-post-padding">
            @if (@Post.Category!.Type == CategoryType.Game)
            {
                <span class="italic">@Post.Category!.Name</span>
                <div class="h-2"></div>
            }
            @if (IsSingle)
            {
                <h1 class="sg-post-title">@((MarkupString)@Post.Title!)</h1>
            }
            else
            {
                <a href="@PageRoutes.Post(Post.Slug!)">
                    <h3 class="sg-post-title">@((MarkupString)@Post.Title!)</h3>
                </a>
            }
            @if (@Post.Category!.Type == CategoryType.GameReview)
            {
                <div class="h-2"></div>
                <p class="italic">Recension</p>
                <p class="text-sm">Testat på: @String.Join(", ", Post.MetaPlatforms!)</p>
            }
            <div class="sg-post-content">
                @((MarkupString)Post.Content!)
            </div>
            @if (Post.Category!.Type == CategoryType.GameReview)
            {
                <div class="border border-black border-dashed px-8 py-6">
                    <div class="font-bold">@Post.RatingText</div>
                    @if (Post.MetaPlayAlso != null)
                    {
                        <div class="h-2"></div>
                        <div class="border-b"></div>
                        <div class="h-2"></div>
                    }
                    @if (Post.MetaPlayAlso != null)
                    {
                        <div class="text-sm">Spela även @Post.MetaPlayAlso</div>
                    }
                </div>
            }
        </div>
        <div class="sg-post-footer sg-footer-padding">
            <div class="sg-break-together">
                <IconCalendarMonth/>
                <span class="mr-4">@DateUtil.FormatDate(Post.Date)</span>
            </div>
            <div class="sg-break-together">
                <IconFolder/>
                <span class="mr-4">@Post.Category.Name</span>
            </div>
            @if (Post.MetaPlatforms!.Count > 0)
            {
                <div class="sg-break-together">
                    <IconDeviceGamepad2/>
                    @FormatPlattform(0)
                </div>
                @for (int i = 1; i < Post.MetaPlatforms!.Count; i++)
                {
                    <div class="sg-break-together">
                        @FormatPlattform(i)
                    </div>
                }
            }
        </div>
    </article>
}


@code {
    [Parameter] [Required] public WpPost? Post { get; set; }
    [Parameter] [Required] public bool IsSingle { get; set; }

    private ComponentCallbacker? _showModalCallbacker;

    protected override void OnInitialized()
    {
        _showModalCallbacker ??= new ComponentCallbacker();
    }

    private void OnImageClick()
    {
        _showModalCallbacker!.Action!();
    }

    private string FormatPlattform(int index)
    {
        string formattedTagName = Post!.MetaPlatforms![index];
        bool isLast = Post!.MetaPlatforms!.Count == index + 1;
        if (!isLast)
        {
            formattedTagName += ", ";
        }

        return formattedTagName;
    }

}