@page "/kategori/{Slug}"
@page "/kategori/{Slug}/{Page:int}"
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.Services
@using MichaelKjellander.SharedUtils
@using MichaelKjellander.Components.Boxes
@using MichaelKjellander.Models
@using MichaelKjellander.SharedUtils.Api
@using MichaelKjellander.SharedUtils.Collections
@using MichaelKjellander.SharedUtils.Routes
@using MichaelKjellander.Models.UtilModels
@inject IHttpClientFactory ClientFactory
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options
@inject JsService JsService
@inject ILogger<Category> Logger
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>
    @(ComponentUtil.FormatPageTitle(_category?.Name, Page))
</PageTitle>

@if (IsFirstPage && _category != null)
{
    <TitleBox Title="@_category.Name" Description="@_category?.Description">
        @if (_category!.Type == CategoryType.GameReview)
        {
            <form method="post">
                <span class="font-bold">Betyg</span>
                <div></div>
                @for (int rating = 1; rating <= 10; rating++)
                {
                    int localRating = rating;
                    <input id="rating@(rating)" type="checkbox" checked="@Filter!.Ratings[rating]" @onchange="args => ToggleRating(args, localRating)"/>
                    <label class="mr-3" for="rating@(rating)">@rating</label>
                }
                @*<button class="btn btn-dark">Filtrera</button>*@
            </form>
        }
    </TitleBox>
}

<div class="sg-posts-related-container" data-loading="@_isLoading">
    <PostBoxes Posts="_posts" PaddingForFirst="IsFirstPage"/>
    <PaginationBox paginationData="@_pagination" UrlPrefix="@_prefix" Counter="@_counter" Query="@_query"/>
</div>

@code {
    [Parameter] public string? Slug { get; set; }
    [Parameter] public int? Page { get; set; }
    private IList<WpPost>? _posts;
    private WpCategory? _category;
    private PaginationData? _pagination;
    private string? _prefix;
    [SupplyParameterFromForm] public GameReviewFilter? Filter { get; set; }
    InternalApiService? _service;
    private const string RatingName = "betyg";
    private bool IsFirstPage => Page is null or 1;
    private bool _isLoading;
    private Url? _url;
    private int _counter;
    private string? _query;

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
        {
            return;
        }

        Filter ??= new();

        _url = new Url(Navigation.Uri);
        _query = _url!.GetQueryString();
        ICollection<int> ratingParams = _url.GetQueryParametersInt(RatingName);
        Filter.Ratings.ReplaceWithRange(ratingParams);

        _service ??= new InternalApiService(ClientFactory.CreateClient(), Options);
        await FetchData();
    }

    private async Task FetchData()
    {
        _isLoading = true;
        ApiResponse<WpPost> postsData = await _service!.FetchPosts(pageNumber: Page ?? 1, categorySlug: Slug,
            metaRatings: Filter!.Ratings.Values);
        _posts = postsData.Items;
        _category ??= _posts?.FirstOrDefault()?.Category;
        _prefix ??= PageRoutes.Category(Slug!);
        _pagination = postsData.PaginationData;
        _isLoading = false;
        _counter++;
    }

    protected override void OnAfterRender(bool isFirstRender)
    {
        //JsService.ScrollToTop();
    }

    //Specific to GameReview from here onwards. Perhaps move to seperate page route?
    //Filters should be used for Game category as well: #20
    /*private async Task Submit()
    {
        string newUrl = new HttpQueryBuilder(QueryArrayMode.Multiple)
            .Add(RatingName, Filter!.Ratings.Values)
            .Build("/kategori/tv-spelrecensioner"); //TODO: hardcoded
        Navigation.NavigateTo(newUrl, false, true);
        await FetchData();
    }*/

    private async Task ToggleRating(ChangeEventArgs args, int rating)
    {
        bool isSelected = (bool)args.Value!;
        Filter!.Ratings[rating] = isSelected;

        _url = new HttpQueryBuilder("/kategori/tv-spelrecensioner", QueryArrayMode.Multiple) //TODO: hardcoded
            .Add(RatingName, Filter!.Ratings.Values)
            .ToUrl();
        _query = _url.GetQueryString();
        Navigation.NavigateTo(_url.ToString(), false, true);

        await FetchData();
    }

    public class GameReviewFilter
    {
        public readonly Indexer<int> Ratings = new();
    }

}