@page "/kategori/{Slug}"
@page "/kategori/{Slug}/{Page:int}"
@using MichaelKjellander.Models.Wordpress
@using MichaelKjellander.Views.Components.Boxes
@using MichaelKjellander.Config
@using MichaelKjellander.IndependentUtils.Collections
@using MichaelKjellander.Models
@using MichaelKjellander.Scripts.Startup.Generated
@using MichaelKjellander.Tools.Url
@using MichaelKjellander.Views.Routes
@using MichaelKjellander.Views.Services.Api
@using MichaelKjellander.Views.Components.Buttons
@inject IHttpClientFactory ClientFactory
@inject Microsoft.Extensions.Options.IOptions<AppConfig> Options
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject TranslationsService Ts

<PageTitle>
    @(Ts.FormatPageTitle(_category?.Name, Page))
</PageTitle>

@if (IsFirstPage && _category != null)
{
    <TitleBox Title="@_category.Name" Description="@_category?.Description">
        @if (_category!.Type == CategoryType.GameReview)
        {
            <span class="font-bold">
                <span class="w-6">@Ts.Get(TKey.Meta_Platform)</span>
            </span>
            <div></div>
            <ToggleButtonBox>
                @foreach (WpTag tag in _allTags)
                {
                    WpTag localTag = tag;
                    <ToggleButton Checked="@Filter!.Tags[localTag.Id]" OnToggle="() => TogglePlatform(localTag.Id)">
                        @localTag.Name
                    </ToggleButton>
                }
            </ToggleButtonBox>
            <p></p>
            <span class="font-bold">@Ts.Get(TKey.Meta_Rating)</span>
            <ToggleButtonBox>
                @for (int rating = 1; rating <= 10; rating++)
                {
                    int localRating = rating;
                    <ToggleButton Checked="@Filter!.Ratings[rating]" OnToggle="() => ToggleRating(localRating)">
                        <span class="w-6 inline-block">@localRating</span>
                    </ToggleButton>
                }
            </ToggleButtonBox>
        }
    </TitleBox>
}

@if (NoPostsFound)
{
    <div class="pt-10">@Ts.Get(TKey.Posts_NoPostWithFilter)</div>
}
else
{
    <div class="sg-posts-related-container" data-loading="@_isLoading">
        <PostBoxes Posts="_posts" PaddingForFirst="IsFirstPage"/>
        <PaginationBox paginationData="@_pagination" UrlPrefix="@_prefix" Query="@_query"/>
    </div>
}

@code {

    //TODO: seperate specific category stuff, like GameReview filters, in seperate component: #12
    [Parameter] public string? Slug { get; set; }
    [Parameter] public int? Page { get; set; }
    private IList<WpPost>? _posts;
    private WpCategory? _category;
    private PaginationData? _pagination;
    private string? _prefix;
    [SupplyParameterFromForm] public GameReviewFilter? Filter { get; set; }
    BlogApiService? _service;
    private bool IsFirstPage => Page is null or 1;
    private bool _isLoading = true;
    private Url? _url;
    private string? _query;
    private bool NoPostsFound => !_isLoading && (_posts == null || _posts!.Count == 0);
    private readonly List<WpTag> _allTags = [];
    private string RatingName => Ts.Get(TKey.Slug_QueryRatings);
    private string TagsName => Ts.Get(TKey.Slug_QueryTags);

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
        {
            return;
        }

        _isLoading = true;
        Filter ??= new();

        _url = new Url(Navigation.Uri);
        _query = _url!.GetQueryString();
        ICollection<int> ratingParams = _url.GetQueryParametersInt(RatingName);
        Filter.Ratings.ReplaceWithRange(ratingParams);
        ICollection<int> tagParams = _url.GetQueryParametersInt(TagsName);
        Filter.Tags.ReplaceWithRange(tagParams);

        _service ??= new BlogApiService(ClientFactory.CreateClient(), Options);

        _allTags.Clear();
        _allTags.AddRange(await _service.FetchTags(Slug));

        await FetchData();
    }

    private async Task FetchData()
    {
        _isLoading = true;
        ApiResponse<WpPost> postsData = await _service!.FetchPosts(pageNumber: Page ?? 1, categorySlug: Slug,
            tagIds: Filter!.Tags.Values, metaRatings: Filter!.Ratings.Values);
        _posts = postsData.Items;
        _category ??= _posts?.FirstOrDefault()?.Category;
        _prefix ??= PageRoutes.Category(Slug!);
        _pagination = postsData.PaginationData;
        _isLoading = false;
    }

    protected override void OnAfterRender(bool isFirstRender)
    {
        //JsService.ScrollToTop();
    }

    //Specific to GameReview stuff from here onwards. Perhaps move to seperate page route?
    private async Task RefreshUrlAndFetch()
    {
        _url = new UrlBuilder(PageRoutes.Category(CategoryType.GameReview), QueryArrayMode.Multiple) //TODO: hardcoded
            .AddParam(RatingName, Filter!.Ratings.Values)
            .AddParam(TagsName, Filter!.Tags.Values)
            .ToUrl();
        _query = _url.GetQueryString();
        Navigation.NavigateTo(_url.ToString(), false, true);

        await FetchData();
    }

    private async Task ToggleRating(int rating)
    {
        bool isSelected = !Filter!.Ratings[rating];
        Filter!.Ratings[rating] = isSelected;
        await RefreshUrlAndFetch();
    }

    private async Task TogglePlatform(int tagId)
    {
        bool isSelected = !Filter!.Tags[tagId];
        Filter!.Tags[tagId] = isSelected;
        await RefreshUrlAndFetch();
    }

    private async Task OnClearClick()
    {
        Filter!.Clear();
        await RefreshUrlAndFetch();
    }

    public class GameReviewFilter
    {
        public readonly Indexer<int> Tags = new();
        public readonly Indexer<int> Ratings = new();

        public void Clear()
        {
            Tags.Values.Clear();
            Ratings.Values.Clear();
        }
    }

}